
<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>職涯測驗結果</title>

	<style type="text/css">
		* { 
			font-family: "標楷體"; }

		header { 
			font-size: 36px;
			color: whilte; }

		.col-lg-4 {
			border: 1px solid; }

	</style>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
	<nav class="navbar navbar-expand-md bg-secondary navbar-light">
	<a class="navbar-brand" href="#">選單</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" href="#interest">興趣何倫碼</a></li>
			<li class="nav-item"><a class="nav-link" href="#personality">職業性格類型</a></li>
			<li class="nav-item"><a class="nav-link" href="#representative figure">representative figure</a></li>
		</ul>
	</div>
	</nav>

	<main class="container-fluid bg-info text-white text-center">

		<nav>
			<h1><a class="text-reset text-decoration-none text-light bg-danger" target="_blank" id="COMPANY">戴啟原的興趣何倫碼測驗結果</a></h1>
		</nav>

		<img src="https://guide.104.com.tw/wow/img/og_holland.69e6fd29.png" alt="照片" width="300" class="img-fluid rounded-circle" id="PICTURE"> 
		<br><br><br>

		<div class="row">
			<session id="interest" class="col-lg-4">
				<header><a href="https://guide.104.com.tw/interest/" class="text-reset text-white bg-secondary">104 生涯興趣測驗結果</header>
				<img src="/static/test.png" alt="照片" width="300"> 
			</session>

			<article id="personality" class="col-lg-4">
				<header><a href="https://guide.104.com.tw/interest/" class="text-reset text-white bg-secondary">職業性格類型</header> 
				<img src="/static/personality.png" alt="照片" width="300">
			</article>
		
			<aside id="representative figure" class="col-lg-4">
				<header><a href="https://guide.104.com.tw/interest/" class="text-reset text-white bg-secondary">representative figure</header> 
				<img src="/static/representative figure.png" alt="照片" width="300">
			</aside>
		</div><br><br>
		
		<footer>
			Copyright ©  戴啟原. All Rights Reserved.
		</footer>
		
	</main>
</body>
</html>